name: package_two
description: "A new Flutter package project."
version: 1.0.5
publish_to: none

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  package_three:
    path: ../package_three
